<!-- The article view -->
<section data-ng-controller="DevicesController" data-ng-init="findOne()">
    <a href="/#!/">Home</a>
	<h1 data-ng-bind="device.name"></h1>
	<!-- Show the editing buttons to the article creator -->
	<div data-ng-show="authentication.user._id == device.creator._id">
		<a href="/#!/devices/{{device._id}}/edit">edit</a>
		<a href="/#!/" data-ng-click="delete();">delete</a>
	</div>
	<small>
		<em>Posted on</em>
		<em data-ng-bind="device.created | date:'mediumDate'"></em>
		<em>by</em>
		<em data-ng-bind="device.creator.fullName"></em>
	</small>
	<p data-ng-bind="device.name"></p>
</section>