<!-- The edit article view -->
<section  data-ng-controller="SmartPlugsController" data-ng-init="findOne()">
	<h1>Edit SmartPlug</h1>
     <a href="/#!/">Home</a>
	<!-- The edited article form -->
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="sid">Device Id</label>
			<div>
				<input class="form-control" type="text" data-ng-model="smartplug.sid" id="sid" placeholder="SID" required>
			</div>
		</div>
		<div>
			<label for="name">Name</label>
			<div>
				<input class="form-control" type="text" data-ng-model="smartplug.name" id="name" placeholder="Name"/>
			</div>
		</div>
        <div>
			<label for="type">Type</label>
			<div>
				<input class="form-control" type="text" data-ng-model="smartplug.type" id="type" placeholder="Type"/>
			</div>
		</div>
        <div>
			<label for="device">Current Device</label>
			<div>
				<input class="form-control" type="text" data-ng-model="smartplug.device" id="device" placeholder="Device"/>
			</div>
		</div>
        
         <div>
			<label for="smartplugs">Devices</label>
			<div>
                <select class="form-control" data-ng-click="getSelectedDeviceEdit(smartplug.devices)"  data-ng-model="smartplug.devices" ng-options="sm._id as sm.name for sm in deviceList"></select>
				
			</div>
		</div>
	
        
		<div>
			<input class="form-control btn-info" type="submit" value="Update">
		</div>
		<!-- The error message element -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
    </div>
</section>