<!-- The list articles view -->
<section data-ng-controller="GraphsController">
	<h1>Graphs</h1>
    <h3>This is a Graph {{data1}}</h3>
   <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
    
     <nvd3 options="optionsHistorical" data="dataoptionsHistorical" class="with-3d-shadow with-transitions"></nvd3>
    
    <nvd3 options="optionsLineWithFocus" data="dataLineWithFocus" class="with-3d-shadow with-transitions"></nvd3>
    
    <nvd3 options="optionsSparklinPlus" data="dataSparklinPlus" class="with-3d-shadow with-transitions"></nvd3>
    
    
</section>