<!-- The list articles view -->
<section data-ng-controller="GraphsController">
	<h1>Graphs</h1>
   
   
   <!-- <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>-->
    <h2>Daily Basis Power Consumption</h2>
   
     
    <div class="row-fluid">
  <div class="span12">
   <label for="devices">Device</label>
    <div class="row-fluid">
      <div class="span6">
       <select ng-click="getSelectedDeviceForPower()" class="form-control" data-ng-model="devices" ng-options="sm.name for sm in deviceList"></select>
        <div class="row-fluid">
          <div class="span6">Start Date<datepicker date-format="yyyy-MM-dd">
        <input type="datetime" class="form-control" min-view="date" auto-close="true" date-time ng-model="start_date"          view="date">
        </datepicker></div>
          <div class="span6">End Date<datepicker date-format="yyyy-MM-dd">
        <input type="datetime" class="form-control" min-view="date" auto-close="true" date-time ng-model="end_date"          view="date">
        </datepicker> </div>
        </div>
      </div>
      
        
    </div>
  </div>
</div>
    
    
    <div class="row-fluid">
  <div class="span12">
  
    <div class="row-fluid">
      <div class="span6">
     
        <div class="row-fluid">
          <div class="span6">Start Time: <input class="form-control" ui-timepicker  ng-model="start_time"></div>
          <div class="span6">End Time: <input class="form-control" ui-timepicker ng-model="end_time"></div>
        </div>
          
          <button class="form-control" ng-click="getSearchData()">Search</button>
         
      </div>
    <button class="form-control" ng-click=" setGraphDynamically()">Load Graph</button>
    </div>
  </div>
</div>
    
     <div fusioncharts
    width="600" 
    height="400"
    type="msline"
    chart="{{attrs}}"
    categories="{{categories}}"
    dataset="{{dataset1}}"
    ></div>  
    
  
          <!-- <div>
			<label for="smartplugs">Smart Plug</label>
			<div>
                <select class="form-control" data-ng-model="smartplugs" ng-options="sm.name for sm in smartplugList"></select>
				
			</div>
		</div>-->
    <nvd3 options="optionsHistorical" data="dataoptionsHistorical" class="with-3d-shadow with-transitions"></nvd3>
    
  <!--  <nvd3 options="optionsLineWithFocus" data="dataLineWithFocus" class="with-3d-shadow with-transitions"></nvd3>-->
    
    <!--<nvd3 options="optionsSparklinPlus" data="dataSparklinPlus" class="with-3d-shadow with-transitions"></nvd3>-->
    
    <nvd3 options="optionsPieChart" data="dataPieChart1" class="with-3d-shadow with-transitions"></nvd3>
    
    
    
    
    
  <!--   <input type="text" date-time ng-model="start" required="true" view="hours" partial="true">-->
    
   <!--  <input ng-model="date" ui-date>--> <!--WOrking 1-->
    
 
    
  
    
   
    
        
</section>