<!-- The article view -->
<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
<md-content md-theme="docs-dark" layout-padding>    
     <a href="/#!/"><md-button class="md-raised md-primary">Home</md-button></a>
	<h1 data-ng-bind="article.title"></h1>
   
	<!-- Show the editing buttons to the article creator -->
	<div data-ng-show="authentication.user._id == article.creator._id">
		<a href="/#!/articles/{{article._id}}/edit"><md-button class="md-raised md-warn">edit</md-button></a>
		<a href="/#!/" data-ng-click="delete();"><md-button class="md-raised md-warn">delete</md-button></a>
	</div>
	<small>
		<em>Posted on</em>
		<em data-ng-bind="article.created | date:'mediumDate'"></em>
		<em>by</em>
		<em data-ng-bind="article.creator.fullName"></em>
	</small>
	<p data-ng-bind="article.content"></p>
    </md-content>
</section>