<p>This is a pop up yo</p>
<h4>400 px</h4>
        <div width="400" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
        <hr>
        <h4>400 px</h4>
        <div width="400px" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
        <hr>
        <h4>25% of parent width</h4>
        <div width="25%" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
        <hr>
        <h4>100% parent width</h4>
        <table>
            <tr>
                <td width="50%">
                    <div width="100%" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
                </td>
                <td width="50%">
                    <div width="100%" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
                </td>
            </tr>
        </table>
        <h4>20em width</h4>
        <div width="20em" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>